{
    "topiclist":    {
                        "prog/pwd": {
                            "null": ["pwd"]
                        },
                        "dev/2": {
                            "null": ["/bin/echo", "111", "*", "@!@", "222", "@!@", "333"]
                        }
    }
}
